.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  text-align: center;
  color: #333;
  padding: 2rem;
}

.dark .hero-section {
  color: #fff;
}
